
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141e15;
    color: #ffffff;
}
header nav {
    background-image: url(black.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background-color: #0e1113;
}
header h1 {
    font-size: 2em;
    color: #fff;
}
header ul {
    display: flex;
    list-style: none;
    
}
header ul li {
    margin-left: 35px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 20px;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.intro-text, .profile-image {
    position: relative;
    z-index: 1;
}
.intro-text {
    max-width: 500px;
}
.intro-text p:first-of-type{
    font-size: 1.5rem;
    font-weight: bold;
}
.intro-text h2{
    font-size: 3.5rem;
    margin: 3px 0;
}
.intro-text p span.basic-text {
    font-size: 1.5rem;
    font-weight: bold ;
}
.intro-text p span.dynamic-text {
    color: #00fff0;
    font-weight: bold;
    font-size: 1.9rem;
    
    
}
.social-links{
    margin-top: 20px;
    
}

.social-links a {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;

}
.social-links a:hover {
    color: rgb(22, 38, 211);
    transform: scale(1.5);
}

.profile-image {
    width: 380px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #00fff0;
    box-shadow: 0 0 90px rgba(0, 255, 246, 0.5);
}
.profile-image img {
    width: 100%;
  height: 100%;
  object-fit: cover;
}